<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<title>Logs!</title>
<body>
{% for filename, table in tables %}
  <h1>{{ filename }}</h1>
  <table>
    <tr>
      {% for row in table._field_names %}
      <td><b>{{ row }}</b></td>
      {% endfor %}
    <tr>
    {% for row in table._rows %}
    <tr>
      {% for elem in row %}
      <td>
        {% if loop.index0 < 2 %}
        <font color="black">
        {% elif elem == 'pass' %}
        <font color="blue">
        {% else %}
        <font color="red">
        {% endif %}
        {{ elem }}</font></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endfor %}

// TODO Allow downloads of all of these logs

<h1>All Logs</h1>
<h2>Development build logs</h2>
{% for dev_log in dev_logs %}
  {{ dev_log }}
{% endfor %}

<h2>Tagged build logs</h2>
{% for tag_log in tag_logs %}
  {{ tag_log }}
{% endfor %}
</body>